.pnl-dashboard {
    .pnl-table {
        td {
            padding: 6px 10px;
        }
        .pnl-total {
            background-color: #f5f5f5;
            font-weight: 900 !important;
        }
    }
}